body, html {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font: Helvetica;
}

/* classes */
.container {
    display: flex; /* or inline-flex; */
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row || wrap; */
    justify-content: space-around;
    align-items: baseline;
}
.item {
    /* order: <integer>;  default is 0 */
    /* flex-grow: <number>; default is 0 */
    /* flex-shrink: <number>; default is 1 */
}
.navbar {
    background: rgba(0, 0, 0, 0.5) !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


/* index.html page */
#Home {
    background-image: url("/Images/DanielNijlandKitchen.jpg");
    background-attachment: scroll;
    background-position: bottom;
}
#titlebar {
    height: 100%;
    color: rgba(217, 214, 228, 0.808);
    position: absolute;
    align-items: center;
    font: Helvetica;
    font-size: 120px;
    top: 72%;
    left: 7%;
}
/* menu.html page */
#Menu {
    background-image: url("/Images/Menu.jpg");
    background-size: contain;
    background-attachment: scroll;
    background-color: black;

}
/* about.html page */
#About {
    background-color: black;
}
#Profile {
    width: auto;
    height: 100%;
    display: block;
    margin-right: auto;
    margin-left: 40%;

    opacity: 0.9;

}
/* contact.html page */
#Contact {
    background-image: url("/Images/bahram-bayat-5t4D2h3lZ74-unsplash.jpg");
    background-size: contain;
    background-color: black;
}
