body, html {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font: Helvetica;
}

#Home {
    background-image: url("/Images/DanielNijlandKitchen.jpg");
    background-attachment: scroll;
    z-index: -1;
}
#titlebar {
    height: 100%;
    color: rgba(217, 214, 228, 0.781);
    position: fixed;
    align-items: center;
    font: Helvetica;
    font-size: 130px;
    top: 75%;
    margin-left: 0.5em;
}

#Menu {
    background-image: url("/Images/Menu.jpg");
}

.container {
    display: flex; /* or inline-flex; */
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row || wrap; */
    justify-content: space-around;
    align-items: baseline;
}
.item {
    /* order: <integer>;  default is 0 */
    /* flex-grow: <number>; default is 0 */
    /* flex-shrink: <number>; default is 1 */
}

